.list-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.detail-section {
  display: block;
  margin-bottom: 10px;
}

.image-body {
  background-color: #dfe3e6;
  border-radius: 2px;
  display: flex;
  justify-content: center;
}

.image {
  width: 100px;
  height: 100px;
  align-self: center;
}

.image-title {
  font-weight: 700;
}

.label-section {
  font-weight: 700;
  font-size: 0.8rem;
}

ul {
  margin-left: 20px;
}
